
/* *{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
} */

body{
    font-family: 'DM Sans', sans-serif;
}
.header{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.footer{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 53px;
}

.header_flex, .footer_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.nav_li {
    display: inline-block;
}

.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav_link:hover{
    color: black;
    transition: 300ms;
}

.button {
    width: 212px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
}

.button_orange {
     background: #FF7143;
}

.button_orange:hover{
    background: #dd5b30;
    transition: 500ms;
}

.about{
    margin-top: 104px;
    margin-bottom: 85px;
}
.about_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 50px;
    max-width: 464px;
}

.button_violet{
    background-color: #5454D4;
    transition: 500ms;
}

.button_violet:hover{
    background-color: #3b3be7;

}

.button_transparent{
    background-color: none;
    border: 1px solid #5454D4;
    color: #5454D4;
    margin-left: 35px;
}

.button_transparent:hover{
    background-color: #b6b6e0;
    transition: 500ms;
}

.container_email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    }

.email_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-right: 39px;
}

.form_email{
    box-sizing: border-box;
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    margin-right: 39px;

    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
    padding-left: 14px;
}

